<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="targetInstance"
      connectionString="
                      AuthType=ClientSecret;
                      url=https://ztuat.crm8.dynamics.com;
                      ClientId=dd682ba8-859d-43f2-9c15-0d5d3235332a;
                      ClientSecret=~1Ln-sNizbeiKe5GF84.lzO9Rp7Up6L-E."
                      />
      </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 </configuration>
